.count {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 8rem;
}
main {
  background-color: beige;
  padding: 20px;
  border-radius: 1rem;
}
img {
  border-radius: 1rem;
  width: ;
}
